* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 10px;
  outline: 0;
  background-color: rgb(20, 162, 89);
  color: white;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}